<h1>
  <div class="col-md-8">
    New Post
  </div>
</h1>

<div class="col-md-8">

  <%= form_for @wiki do |x| %>
    <div class="form-group">
      <%= x.label :title %>
      <%= x.text_field :title, class:'form-control', placeholder: "Enter post title" %>
    </div>
    <div class="form-group">
      <%= x.label :body %>
      <%= x.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter post body" %>
    </div>
    <div class="form-group">
      <%= x.submit "Save", class: 'btn btn-success' %>
    </div>
    <% if current_user.admin? || current_user.premium? %>
      <%= render "form" %>
    <% end %>
  <% end %>
</div>
